.select-box{
    background-color:#fff;
  }
  .input-group{
    width:auto!important;
  }
  h1,h2,h3,h4,h5.h6{
    /* color:#605656; */
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  p,ul li{
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 1.3rem!important;
    /* color: #636965!important; */
  }

  .active{
    color:#323ec4!important;
  }
  nav.bg-dark{
    background-color:#0d2444f2!important;
  }
  .text-success{
   color: #08b208!important;
   font-weight:bold;
  }